<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Logged in as
    <%= user%>
  </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="static/css/components.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <div class="row">
        <div class="col s3 input-field">
          <input type="text" id="search">
          <label for="search">Search...</label>
        </div>
        <div class="col s3 center">
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/listings">Listings</a>
            </li>
          </ul>
        </div>
        <div class="col s3 right">
          <div class="profile">
            <div class="dropdown-trigger flex" data-target="dropdown">
              <span>
                <%= user%>
              </span>
              <img src="https://orig00.deviantart.net/6a12/f/2014/195/4/4/kurisu_makise_by_animeprofileavatars-d7qqa8s.jpg" class="profile-pic">
            </div>
          </div>
          <ul id="dropdown" class="dropdown-content">
            <li>
              <a href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>


  <div class="row">
    <div class="card col s10 m10 offset-m1">
      <h2 class="center">Home</h2>
      <div class="divider"></div>
      <table class="centered striped responsive">
        <div class="row">
          <pr></pr>
        </div>
        <h5>Pending Requests</h5>
        <hr>
        <thead>
          <tr>
            <th>Unit Address</th>
            <th>Client ID</th>
            <th>Name</th>
            <th>Number of Tenants</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Reservation Date</th>
            <th>Checkout Date</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <% for(var i = 0; i < pendingReq.length; i++) { %>
            <tr>
              <td>
                <%= pendingReq[i].unit_address%>
              </td>
              <td>
                <%= pendingReq[i].client_id%>
              </td>
              <td>
                <%= pendingReq[i].client_fname%>
                  <%= pendingReq[i].client_lname%>
              </td>
              <td>
                <%= pendingReq[i].no_of_tenents%>
              </td>
              <td>
                <%= pendingReq[i].client_phoneno%>
              </td>
              <td>
                <%= pendingReq[i].client_email%>
              </td>
              <td>
                <%= pendingReq[i].res_date%>
              </td>
              <td>
                <%= pendingReq[i].checkout_date%>
              </td>
              <td>
                <div>
                  <form method="post" action="accept" class="btn-group">
                    <button type="submit" class="btn" name="resId" value="<%= pendingReq[i].res_id%>">Accept</button>
                  </form>
                  <form method="post" action="decline" class="btn-group">
                    <button type="submit" class="btn red" name="resId" value="<%= pendingReq[i].res_id%>">Deny</button>
                  </form>
                </div>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
      <div class="row">
        <pr>
          <br>
        </pr>
      </div>
      <table class="centered striped responsive">
        <h5>Accepted Requests</h5>
        <hr>
        <thead>
          <tr>
            <th>Unit Address</th>
            <th>Client ID</th>
            <th>Name</th>
            <th>Accomodation</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Date Requested</th>
            <th>Duration of Stay</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <% for(var i = 0; i < accepted.length; i++) { %>
            <tr>
              <td>
                <%= accepted[i].unit_address%>
              </td>
              <td>
                <%= accepted[i].client_id%>
              </td>
              <td>
                <%= accepted[i].client_fname%>
                  <%= accepted[i].client_lname%>
              </td>
              <td>
                <%= accepted[i].no_of_tenents%>
              </td>
              <td>
                <%= accepted[i].client_phoneno%>
              </td>
              <td>
                <%= accepted[i].client_email%>
              </td>
              <td>
                <%= accepted[i].res_date%>
              </td>
              <td>
                <%= accepted[i].checkout_date%>
              </td>
              <td>
                <div>
                  <form method="post" action="cancel" class="btn-group">
                    <button type="submit" class="btn" name="resId" value="<%= accepted[i].res_id%>">Cancel</button>
                  </form>
                </div>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
      <div class="row">
        <pr>
          <br>
        </pr>
      </div>
      <table class="centered striped responsive">
        <h5>Denied Requests</h5>
        <hr>
        <thead>
          <tr>
            <th>Unit Address</th>
            <th>Client ID</th>
            <th>Name</th>
            <th>Accomodation</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Date Requested</th>
            <th>Duration of Stay</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <% for(var i = 0; i < decline.length; i++) { %>
            <tr>
              <td>
                <%= decline[i].unit_address%>
              </td>
              <td>
                <%= decline[i].client_id%>
              </td>
              <td>
                <%= decline[i].client_fname%>
                  <%= decline[i].client_lname%>
              </td>
              <td>
                <%= decline[i].no_of_tenents%>
              </td>
              <td>
                <%= decline[i].client_phoneno%>
              </td>
              <td>
                <%= decline[i].client_email%>
              </td>
              <td>
                <%= decline[i].res_date%>
              </td>
              <td>
                <%= decline[i].checkout_date%>
              </td>
              <td>
                <div class="btn-group">
                  <button class="btn">Accept</button>
                  <button class="btn red">Deny</button>
                </div>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
      <div class="right">
        <a class="waves-effect waves-light btn" href="newEntry.html">
          <i class="material-icons left">add</i>Add new Room</a>
      </div>
      <div>
        <p>
          <br>
        </p>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.min.js"></script>
  <script src="static/js/init.js"></script>
</body>

</html>