<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Logged in as
    <%= user%>
  </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="static/css/components.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/listings">Listings</a>
        </li>
        <li>
          <a href="/reports">Reports</a>
        </li>
      </ul>
      <div class="brand-logo right profile">
        <div class="dropdown-trigger flex" data-target="dropdown">
          <span>
            <%= user%>
          </span>
          <%var pic; if (profilePic === null) {pic = profilePic;} else {pic='static/images/userIcon.png';}%>
            <img src="<%= pic%>" alt="<%= user%>" class="profile-pic">
        </div>
        <ul id="dropdown" class="dropdown-content">
          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="card col s10 m10 offset-m1">
      <h2 class="center">Home</h2>
      <div class="divider"></div>
      <table class="centered striped responsive">
        <div class="row">
          <pr></pr>
        </div>
        <h5>Pending Requests</h5>
        <hr>
        <thead>
          <tr>
            <th>Unit Address</th>
            <th>Client ID</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Check-In Date</th>
            <th>Check-Out Date</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <% for(var i = 0; i < pendingReq.length; i++) { %>
            <tr>
              <td>
                <%= pendingReq[i].unit_address%>
              </td>
              <td>
                <%= pendingReq[i].client_id%>
              </td>
              <td>
                <%= pendingReq[i].client_fname%>
                  <%= pendingReq[i].client_lname%>
              </td>
              <td>
                <%= pendingReq[i].client_phoneno%>
              </td>
              <td>
                <%= pendingReq[i].client_email%>
              </td>
              <td>
                <%= pendingReq[i].res_date%>
              </td>
              <td>
                <%= pendingReq[i].checkout_date%>
              </td>
              <td>
                <div>
                  <form method="post" action="accept" class="btn-group">
                    <button type="submit" class="btn" name="resId" value="<%= pendingReq[i].res_id%>">Accept</button>
                  </form>
                  <form method="post" action="deny" class="btn-group">
                    <button type="submit" class="btn red delete" name="resId" value="<%= pendingReq[i].res_id%>">Deny</button>
                  </form>
                </div>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
      <div class="row">
        <pr>
          <br>
        </pr>
      </div>
      <table class="centered striped responsive">
        <h5>Accepted Requests</h5>
        <hr>
        <thead>
          <tr>
            <th>Unit Address</th>
            <th>Client ID</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Check-In Date</th>
            <th>Check-Out Date</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <% for(var i = 0; i < accepted.length; i++) { %>
            <tr>
              <td>
                <%= accepted[i].unit_address%>
              </td>
              <td>
                <%= accepted[i].client_id%>
              </td>
              <td>
                <%= accepted[i].client_fname%>
                  <%= accepted[i].client_lname%>
              </td>
              <td>
                <%= accepted[i].client_phoneno%>
              </td>
              <td>
                <%= accepted[i].client_email%>
              </td>
              <td>
                <%= accepted[i].res_date%>
              </td>
              <td>
                <%= accepted[i].checkout_date%>
              </td>
              <td>
                <div>
                  <form method="post" action="deny" class="btn-group">
                    <button type="submit" class="btn red delete" name="resId" value="<%= accepted[i].res_id%>">Cancel</button>
                  </form>
                  <form method="post" action="book" class="btn-group">
                    <button type="submit" class="btn purple" name="resId" value="<%= accepted[i].res_id%>">Book</button>
                  </form>
                </div>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
      <div class="row">
        <pr>
          <br>
        </pr>
      </div>
      <table class="centered striped responsive">
        <h5>Booked Reservations</h5>
        <hr>
        <thead>
          <tr>
            <th>Unit Address</th>
            <th>Client ID</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Email</th>
            <th>Check-in Date</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <% for(var i = 0; i < book.length; i++) { %>
            <tr>
              <td>
                <%= book[i].unit_address%>
              </td>
              <td>
                <%= book[i].client_id%>
              </td>
              <td>
                <%= book[i].client_fname%>
                  <%= book[i].client_lname%>
              </td>
              <td>
                <%= book[i].client_phoneno%>
              </td>
              <td>
                <%= book[i].client_email%>
              </td>
              <td>
                <%= book[i].res_date%>
              </td>
              <td>
                <form method="post" action="success" class="btn-group">
                  <button type="submit" class="btn green" name="resId" value="<%= book[i].res_id%>">Success</button>
                </form>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.min.js"></script>
  <script src="static/js/init.js"></script>
  <script>
    $(function () {
      if (document.URL.indexOf('#') == -1) {
        url = document.URL + '#';
        location = '#';

        location.reload(true);
      }

      $('.delete').on('click', function () {
        return confirm(`Are you sure you want to delete unit #${this.value}?`);
      });
    });
  </script>
</body>

</html>