<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Logged in as
    <%= user%>
  </title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
  <link href="static/css/components.css" type="text/css" rel="stylesheet" media="screen,projection">
</head>

<body>
<nav>
<div class="nav-wrapper">
  <div class="row">
    <div class="col s3 center">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/listings">Listings</a>
        </li>
      </ul>
    </div>
    <div class="col s3 right">
      <div class="profile">
        <div class="dropdown-trigger flex" data-target="dropdown">
          <span>
            <%= user%>
          </span>
          <%var pic; if (profilePic === null) {pic = profilePic;} else {pic='static/images/userIcon.png';}%>
          <img src="<%= pic%>" alt="<%= user%>" class="profile-pic">
        </div>
      </div>
      <ul id="dropdown" class="dropdown-content">
        <li>
          <a href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
</nav>
  <div class="row">
    <div class="card col s12 m8 offset-m2">
      <div class="row">
        <div class="row">
          <div class="center">
            <div class="col s12 m12">
              <h2>Listings</h2>
              <hr>
            </div>
            <div class="col s4 m4 offset-m9">
              <a class="btn-floating btn-large waves-effect waves-light red" href="/new-entry">
                <i class="material-icons">add</i>
              </a>
            </div>
          </div>
        </div>
        <% var c; %>
        <% for(var i = 0; i < card.length; i++) {%>
          <div class="col s6 m6">
            <div class="card">
              <div class="card-image">
                <img src="static/uploads/<%= card[i].picture%>" alt="<%= card[i].picture%>">
              </div>
              <div class="card-content">
                <p>Unit ID:
                  <strong><%= card[i].trans_id%></strong>
                </p>
                <p>Unit Address:
                  <u><%= card[i].unit_address%></u>
                </p>
                <p>Price Per Night:
                  <u><%= card[i].price_per_night%></u>
                </p>
                <p>Status:
                  <u><%= card[i].post_status%></u>
                </p>
                <p>Vacancy:
                  <u><%= card[i].vacancy%></u>
                </p>
                <p>Unit Capacity:
                  <u><%= card[i].unit_capacity%></u>
                </p>
                <p>Description:</p>
                <p><%= card[i].unit_description%></p>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/js/materialize.min.js"></script>
  <script src="static/js/init.js"></script>
</body>

</html>